= simple_form_for @ingredient do |f|
  = f.error_notification
  = f.input :description
  .row
    .col-sm-4
      = f.input :number
    .col-sm-4
      = f.input :cost
    .col-sm-4
      = f.input :cwt
  .row
    .col-sm-4
      = f.input :protein
    .col-sm-4
      = f.input :fat
    .col-sm-4
      = f.input :fiber
  .row
    .col-sm-4
      = f.input :ash
    .col-sm-4
      = f.input :calcium
    .col-sm-4
      = f.input :phosphorus
  .row
    .col-sm-4
      = f.input :vitamin_a
    .col-sm-4
      = f.input :vitamin_d3
    .col-sm-4
      = f.input :vitamin_e
  .row
    .col-sm-4
      = f.input :vitamin_k
    .col-sm-4
      = f.input :vitamin_b12
    .col-sm-4
      = f.input :riboflavin
  .row
    .col-sm-4
      = f.input :met_energy
    .col-sm-4
      = f.input :panto
    .col-sm-4
      = f.input :niacin
  .row
    .col-sm-12
      = f.button :submit