<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @ingredient.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ingredient.description %>
</p>

<p>
  <strong>Cwt:</strong>
  <%= @ingredient.cwt %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ingredient.cost %>
</p>

<p>
  <strong>Protein:</strong>
  <%= @ingredient.protein %>
</p>

<p>
  <strong>Fat:</strong>
  <%= @ingredient.fat %>
</p>

<p>
  <strong>Fiber:</strong>
  <%= @ingredient.fiber %>
</p>

<p>
  <strong>Ash:</strong>
  <%= @ingredient.ash %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @ingredient.calcium %>
</p>

<p>
  <strong>Phosphorus:</strong>
  <%= @ingredient.phosphorus %>
</p>

<p>
  <strong>Vitamin a:</strong>
  <%= @ingredient.vitamin_a %>
</p>

<p>
  <strong>Vitamin d3:</strong>
  <%= @ingredient.vitamin_d3 %>
</p>

<p>
  <strong>Vitamin e:</strong>
  <%= @ingredient.vitamin_e %>
</p>

<p>
  <strong>Vitamin k:</strong>
  <%= @ingredient.vitamin_k %>
</p>

<p>
  <strong>Vitamin b12:</strong>
  <%= @ingredient.vitamin_b12 %>
</p>

<p>
  <strong>Riboflavin:</strong>
  <%= @ingredient.riboflavin %>
</p>

<p>
  <strong>Met energy:</strong>
  <%= @ingredient.met_energy %>
</p>

<p>
  <strong>Panto:</strong>
  <%= @ingredient.panto %>
</p>

<p>
  <strong>Niacin:</strong>
  <%= @ingredient.niacin %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
