<%= form_for(@markup) do |f| %>
  <% if @markup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@markup.errors.count, "error") %> prohibited this markup from being saved:</h2>

      <ul>
      <% @markup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :jobber %><br>
    <%= f.number_field :jobber %>
  </div>
  <div class="field">
    <%= f.label :distributor %><br>
    <%= f.number_field :distributor %>
  </div>
  <div class="field">
    <%= f.label :wholesale %><br>
    <%= f.number_field :wholesale %>
  </div>
  <div class="field">
    <%= f.label :dealer %><br>
    <%= f.number_field :dealer %>
  </div>
  <div class="field">
    <%= f.label :retail %><br>
    <%= f.text_field :retail %>
  </div>
  <div class="field">
    <%= f.label :online %><br>
    <%= f.text_field :online %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
