<p id="notice"><%= notice %></p>



.row
    .col-sm-2
      = f.input :id
    .col-sm-10
      = f.input :description
  .row
    .col-sm-4
      = f.input :jobber
    .col-sm-4
      = f.input :distributor
    .col-sm-4
      = f.input :wholesale
  .row
    .col-sm-4
      = f.input :dealer
    .col-sm-4
      = f.input :retail
    .col-sm-4
      = f.input :online

      <p>
  <strong>Markup Number:</strong>
  <%= @markup.id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @markup.description %>
</p>

<p>
  <strong>Jobber:</strong>
  <%= @markup.jobber %>
</p>

<p>
  <strong>Distributor:</strong>
  <%= @markup.distributor %>
</p>

<p>
  <strong>Wholesale:</strong>
  <%= @markup.wholesale %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @markup.dealer %>
</p>

<p>
  <strong>Retail:</strong>
  <%= @markup.retail %>
</p>

<p>
  <strong>Online:</strong>
  <%= @markup.online %>
</p>

<%= link_to 'Edit', edit_markup_path(@markup) %> |
<%= link_to 'Back', markups_path %>
