<%= form_for(@pallet) do |f| %>
  <% if @pallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pallet.errors.count, "error") %> prohibited this pallet from being saved:</h2>

      <ul>
      <% @pallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
